../.CFUserTextEncoding
../.Trash/
../.account
	../.bash_history
	../.bash_profile
	../.bash_profile.macports-saved_2018-11-12_at_18:56:46
	../.bash_sessions/
	../.config/
	../.erlang.cookie
	../.gem/
	../.git-completion.bash
	../.gitconfig
	../.gitflow_export
	../.gitignore_global
	../.gradle/
	../.hgignore_global
	../.histfile
	../.idm/
	../.itermcolor
	../.m2/
	../.mysql_history
	../.node_repl_history
	../.npm/
	../.oh-my-zsh/
	../.rediscli_history
	../.ssh/
	../.stCommitMsg
	../.v8flags.6.2.414.66.037eb45235233cbfe6943e5795bcb030.json
	../.viminfo
	../.zcompdump
	../.zcompdump-SW-LP04432-5.6.2
	../.zsh_history
	../.zshrc
	../.zshrc.pre-oh-my-zsh
	../.zshrc.zni
	../Applications/
	../Availability_service2.jpeg
	../Backfilling.py
	../Backfilling_del.py
	../DailyService.jpg
	../Dailyservice.jpeg
	../Desktop/
	../Documents/
	../Downloads/
	../FirstProject/
	../Library/
	../MealSlotContracts.jpg
	../Movies/
	../Music/
	../November/
	../PPF_ACCOUNT_FORM.pdf
	../Pictures/
	../Public/
	../Solution.java
	../availability-service/
	../availability_ser.jpeg
	../backfill.sql
	../csvToSql.py
	../data-platform/
	../dump.rdb
	../emissary/
	../expressJsApi/
	../failed.csv
	../first-app/
	../food-issues/
	../interocitor/
	../item_similarity.py
	../item_similarity_one_city.py
	../item_similarity_schema.py
	../item_similarity_score_2018-12-31-15-30-city_11-1-0.csv
	../item_similarity_score_2019-01-04-12-00-city_87-0-0.csv
	../item_similarity_score_2019-01-05-14-19-city_87-0-0.csv
	../item_similarity_score_2019-01-05-14-19-city_99-0-0.csv
	../item_similarity_score_2019-01-10-11-17-city_39-0-0.csv
	../item_similarity_score_2019-01-11-11-30-city_39-0-0.csv
	../itemsimilarity.py
	../iterm.xml
	../myNotes/
	../my_item_similarity.py
	../mysql-5.7.24-macos10.14-x86_64.dmg
	../non-polling_script.py
	../order-edit-service/
	../order.json
	../package.json
	../placing-service/
	../restaurant-micro-services/
	../scripts/
	../swiggy-restaurant-services/
	../termnk.itermcolors
	../timeslot-utils/
